.DailyForecast, .ForecastCard {
    display: flex;
}
.ForecastCard {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.8125em;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    background-color: #fff;
    padding: 10px;
    margin: 0 2.5px;
    border-radius: 7.5px;
}
.WeatherIcon {
    background-color: #cccccc;
    width: 95px;
    height: 95px;
}

/*@media screen and (max-width: 400px) {
    .WeatherIcon {
        width: 48px;
        height: 48px;
    }
}*/