.WeatherApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.location-title {
    font-size: 1.75em;
}
.no-location {
    padding: 30px;
    font-size: 1.5625em;
    font-weight: 600;
}

@media screen and (max-width: 950px) {
    .location-title {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .location-title {
        font-size: 1.5em;
    }
    .no-location {
        font-size: 1.1875em;
    }
}